<%- include('../partials/header.ejs', { title: 'Add new guitar' }) %>

<div class="guitar mt-3">
	<div class="container">

		<form method="post" action="">
			<div class="mb-3 form-floating">
				<select id="brand" class="form-select" required>
					<option value="" selected disabled>Chose a brand</option>
					<% brands.forEach(brand => { %>
						<option value="<%= brand.id %>"><%= brand.name %></option>
					<% }) %>
				</select>
				<label for="brand">Brand</label>
			</div>
			<div class="mb-3 form-floating">
				<input type="text" class="form-control" id="model" placeholder="Model">
				<label for="model">Model</label>
			</div>
			<div class="mb-3 form-floating">
				<input type="text" class="form-control" id="serialNumber" placeholder="Seria Number" required>
				<label for="serialNumber">Serial Number</label>
			</div>
			<div class="mb-3 form-floating">
				<input type="date" class="form-control" id="yearProduction" placeholder="Year of production" required>
				<label for="yearProduction">Year of Production</label>
			</div>
			<div class="mb-3 form-floating">
				<select id="numberOfStrings" class="form-select" required>
					<option value="4">4 strings</option>
					<option value="5">5 strings</option>
					<option value="6" selected>6 strings</option>
					<option value="7">7 strings</option>
					<option value="8">8 strings</option>
					<option value="9">9 strings</option>
					<option value="10">10 strings</option>
				</select>
				<label for="numberOfStrings">Number of Strings</label>
			</div>
			<div class="mb-3 form-floating">
				<select id="tuning" class="form-select" required>
					<option value="" selected disabled>Chose a tuning</option>
					<% for (const [strings, tuning] of Object.entries(tunings)) { %>
						<optgroup label="<%= strings %> strings">
							<% tuning.forEach(model => { %>
							<option value="<%= tuning.id %>"><%= tuning.name %> (<%= model.tuning %>)</option>
							<% }) %>
						</optgroup>
					<% } %>
				</select>
				<label for="tuning">Tuning</label>
			</div>
			<div class="mb-3 form-floating">
				<select id="stringsBrand" class="form-select">
					<option value="" selected disabled>Chose a string model</option>
					<% for (const [brand, models] of Object.entries(strings)) { %>
						<optgroup label="<%= brand %>">
							<% models.forEach(model => { %>
							<option value="<%= model.id %>"><%= model.brand %> <%= model.model %> (<%= model.gauge %>)</option>
							<% }) %>
						</optgroup>
					<% } %>
				</select>
				<label for="stringsBrand">Strings</label>
			</div>
			<div class="mb-3 form-floating">
				<input type="date" class="form-control" id="lastStringChange" placeholder="Last string change">
				<label for="lastStringChange">Last String Change</label>
			</div>
			<div>
				<button type="submit" class="btn btn-primary">Submit</button>
			</div>
		</form>

	</div>
</div>

<%- include('../partials/footer.ejs') %>
