<%- include('partials/header.ejs', { title: 'Dashboard' }) %>

<div class="index">
	<div class="container">
		<table class="table">
			<thead>
				<tr>
					<th>Brand</th>
					<th>Model</th>
					<th>Serial Number</th>
					<th>Production year</th>
					<th>Nb of strings</th>
					<th>Tuning</th>
					<th>Strings</th>
					<th>Last String Change</th>
					<th></th>
				</tr>
			</thead>
			<tbody>
				<% guitars.forEach(guitar => { %>
					<% const { uuid, brand, brandLogo, serialNumber, model, yearProduction, numberOfStrings, tuning, tuningName, stringsBrand, stringsModel, stringsGauge, lastStringChange, } = guitar %>
					<tr id="guitar-<%= uuid %>">
						<td class="dashboard__brand-logo"><%- include(`../public/assets/images/brands/guitars/${brandLogo}`) %></td>
						<td><%= model %></td>
						<td><%= serialNumber %></td>
						<td><%= yearProduction %></td>
						<td><%= numberOfStrings %></td>
						<td><%= tuning %></td>
						<td><%= stringsBrand %> <%= stringsModel %> (<%= stringsGauge %>)</td>
						<td><%= lastStringChange %></td>
						<td>
							<span class="dashboard__actions">
								<a href="/guitar/<%= uuid %>" class="btn btn-primary">Voir</a>
								<button data-delete-id="<%= uuid %>" class="btn btn-danger">Suppr</button>
							</span>
						</td>
					</tr>
				<% }) %>
			</tbody>
		</table>
	</div>
</div>

<%- include('partials/footer.ejs') %>
